h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 300px;
  font-size: 100px;
}
